@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

h1 {
  font-weight: 800;
}

button {
  background-color: #f6a261;
  font-weight: 800;
}

input {
  color: black;
  padding: 6px;
}

.button {
  background-color: #f6a261;
}

.gradient {
  background: linear-gradient(to bottom right, #264653, #559cb9);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

I.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
